# Ignorar todos os diretórios superiores
../../../../../*

# Ignorar diretórios do sistema
*.log
*.tmp
.DS_Store
*.pyc
*.class
Thumbs.db
__pycache__/
*.ipynb_checkpoints/

# Ignorar arquivos e diretórios pessoais e comuns
.anaconda/
.android/
.bash_history
.cache/
.chocolatey/
.conda/
.continuum/
.git-credentials
.gitconfig
.idlerc/
.ipython/
.jupyter/
.kivy/
.matplotlib/
.minttyrc
.node_repl_history
.redhat/
.ssh/
.viminfo
.vscode/
AppData/
BrawlhallaReplays/
Contacts/
Desktop/
Downloads/
Dropbox/
Favorites/
IntelGraphicsProfiles/
Links/
Microsoft/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
Videos/


